# Restic configuration
export RESTIC_REPOSITORY=""  # z.B. s3:https://s3.eu-central-3.ionoscloud.com/my-backups
export RESTIC_PASSWORD=""    # Ein sicheres Passwort für die Repository-Verschlüsselung
export AWS_ACCESS_KEY_ID=""  # S3 Access Key
export AWS_SECRET_ACCESS_KEY="" # S3 Secret Key